*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
}

.colecao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
}

.colecao:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.colecao img{
    width: 400px;
    height: 400px;
}

.name{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.desc{
    color: rgb(32, 32, 32);
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}


.hwindow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
    height: 700px;
}

.hwindow img{
    width: 90%;
    height: 70%;
}

.hname{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about{
    font-size: 20px;
    margin-top: 5%;
}

