*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-weight: bold;
    color: black;
    margin-bottom: 5%;
}

.back{
    position: fixed;
    top: 5%;
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.back i{
    font-size: 20px;
    color: white;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.logoBox{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100%;
}

.logoBox img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.loginBox{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formbody{
    display: flex;
    flex-direction: column;
    gap: 10px;
}